*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'protest strike', sans-serif;
}


.cabecalho{
    background-color: #200909;
    color: #e0549f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}


.cabecalho-imagem{
    width: 20%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 50px;
    font-size: 36px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient();
    color:rgb(10, 18, 18);
    display: flex;
    justify-content: center;
}

.escola-div-conteudo{
    width: 35%;

}

.estudante-imagem{
    width: 120px;
}
